@media (min-width: 1366px) {
	.container-fluid {
		width: 1170px;
	}
}

@media (min-width: 1610px) {
	.container-fluid {
		width: 1570px;
	}
}

@media (min-width: 1810px) {
	.container-fluid {
		width: 1770px;
	}
}
