/**
 * Based on https://raw.github.com/jharding/typeahead.js-bootstrap.css/master/typeahead.js-bootstrap.less
 */
.tt-menu {
	width: 100%;
	margin-top: 20px;
	background: #FFF;
	border: 2px solid @blueDark;
	.border-radius(@baseBorderRadius);
}

.tt-suggestion {
	display: block;
	padding: 6px;
	margin: 10px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
        cursor: pointer;
	color: @dropdownLinkColorHover;
	#gradient > .vertical(@dropdownLinkBackgroundHover, darken(@dropdownLinkBackgroundHover, 5%));
}

.tt-suggestion.tt-cursor a {
	color: @dropdownBackground;
}

// Custom styles for the movie name typeahead field
.movie-name-typeahead {
    display: inline-block;
    
    .tt-menu {
        width: 300px;
        padding: 4px;
    }
    
    .movie-name-typeahead-suggestion {
        
        
        img, p {
            float: left;
        }

        img {
            width: 70px;
        }
        
        p {
            margin-left: 16px;
            width: 182px;
            
            .genre {
                font-size: small;
                font-style: italic;
            }
        }
    }
}