RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

# cache images, styles, scripts and fonts
<IfModule mod_expires.c>
		ExpiresActive On
		ExpiresByType image/gif "access plus 360 days"
		ExpiresByType image/jpeg "access plus 360 days"
		ExpiresByType image/png "access plus 360 days"
		ExpiresByType text/css "access plus 360 days"
		ExpiresByType text/javascript "access plus 360 days"
		ExpiresByType application/javascript "access plus 360 days"
		ExpiresByType application/x-font-woff "access plus 360 days"
		# Naturally Internet Explorer uses some vendor-specific MIME types
		ExpiresByType application/vnd.ms-fontobject "access plus 360 days"
</IfModule>